/.idea
/__pycache__
guest.txt
guest_book.txt
writing_file.txt
reasons_to_love_Python.txt
user_age.json
saving_data.json
user_favourite_number.json
12.6/__pycache__
12.2-12.5/__pycache__
Chapter12/12.6/__pycache__/
Chapter12/12.2 - 12.5/__pycache__/
Chapter13/__pycache__/
Chapter14/__pycache__/
